//--------------------------------------------------
// Top 89 - 2016, 2017 branding
//--------------------------------------------------

$t16-color-dark: #d24935;
$t16-color-bright: #ea8e3d;
$t16-color-light: #df6d39;

.brand-top89-2017 {
  background: #3a3341;
  background-image: -moz-linear-gradient(left, #bf9c0d -30%, #96000f 130%);
  background-image: -webkit-linear-gradient(left, #bf9c0d -30%, #96000f 130%);
  background-image: linear-gradient(to right, #bf9c0d -30%, #96000f 130%);
  background-size: auto;
  background-position: 0 0;

  // scss-lint:disable NestingDepth

  .header_logo {
    svg {
      fill: $color-white;
    }
  }

  .header_account {
    color: $color-white;

    .btn {
      background-color: $t16-color-light;
    }
  }

  .subHeader {
    // scss-lint:disable VendorPrefix DuplicateProperty
    border: 12px solid rgba($color-black, .4);
    background: #563f72;
    background-image: image-url(''), -moz-linear-gradient(-45deg, #ffcd2f -30%, #c32030 130%);
    background-image: image-url(''), -webkit-linear-gradient(-45deg, #ffcd2f -30%, #c32030 130%);
    background-image: image-url(''), linear-gradient(135deg, #ffcd2f -30%, #c32030 130%);
    background-size: 63px 108.5px, auto;
    background-position: center -32px, 0 0;
  }

  .btn {
    background-color: $t16-color-dark;

    &:hover {
      background-color: $t16-color-bright;
    }

    &:focus {
      border-color: lighten($t16-color-bright, 20%);
    }

    &[disabled] {
      background: desaturate(lighten($t16-color-dark, 40%), 50%);
    }
  }

  .link {
    &:hover,
    &:focus {
      outline: 0;
      color: $t16-color-bright;
    }
  }

  .modal_close {
    &:focus {
      svg {
        stroke: $t16-color-bright;
      }
    }
  }

  .field:focus {
    border-color: $t16-color-bright;
  }

  :checked + .tile {
    background-color: $t16-color-bright;
  }

  :checked:focus + .tile {
    outline: 2px solid lighten($t16-color-bright, 20%);
  }

  .footer {
    color: $color-white;
  }
}
