//--------------------------------------------------
// Fonts
//
// Always specify font weights using the font-weight
// property inside of @font-face, do not create a
// new font-family name for each weight of the same
// font.
//-----
//
//
//// Import from the fonts.com CDN

@import url('//fast.fonts.com/cssapi/1b0426f9-ed81-4fce-8ac1-70f4025dbd41.css');

//
// This usesthe medium weight to behave as the bold. Ideally, this would be baked into the css we get from fonts.com
// But it is not, so we override the output here.
// These URLs do not seem to change, and if they do we should fall back with the old-style formatting cleanly.
//

// scss-lint:disable UrlFormat
@font-face {
  font-family: 'ITCFranklinGothicW01-Bk 812647';
  src: url('//fast.fonts.com/d/905c1a7c-f018-4815-b4a9-6bd6f4c7e768.eot?d44f19a684109620e484157fa790e818d6a0dc7138d0a76dcc0c1fe83ad1d594119e1e62143e61da83837e1de7e89243f46954367d94959b706fa05e7f2fe8087a37bfc8545ac12911aa7fec61e2ca57259eeec06816b904f7094f9696d27183215e31490b5ebc1a102c8153c8fdcd5d4e830fe588aa584af4c729951a4584958fd3b6b62f67b60019b2d1c77857bf306e7bba469e5cdaaeb6018f35528510bd&projectId=1b0426f9-ed81-4fce-8ac1-70f4025dbd41') format('eot');
  font-weight: bold;
}

@font-face {
  font-family: 'ITCFranklinGothicW01-Bk 812647';
  src: url('//fast.fonts.com/d/905c1a7c-f018-4815-b4a9-6bd6f4c7e768.eot?d44f19a684109620e484157fa790e818d6a0dc7138d0a76dcc0c1fe83ad1d594119e1e62143e61da83837e1de7e89243f46954367d94959b706fa05e7f2fe8087a37bfc8545ac12911aa7fec61e2ca57259eeec06816b904f7094f9696d27183215e31490b5ebc1a102c8153c8fdcd5d4e830fe588aa584af4c729951a4584958fd3b6b62f67b60019b2d1c77857bf306e7bba469e5cdaaeb6018f35528510bd&projectId=1b0426f9-ed81-4fce-8ac1-70f4025dbd41');
  src: url('//fast.fonts.com/d/10ab5970-5726-4843-82b1-912faa9307ff.woff?d44f19a684109620e484157fa790e818d6a0dc7138d0a76dcc0c1fe83ad1d594119e1e62143e61da83837e1de7e89243f46954367d94959b706fa05e7f2fe8087a37bfc8545ac12911aa7fec61e2ca57259eeec06816b904f7094f9696d27183215e31490b5ebc1a102c8153c8fdcd5d4e830fe588aa584af4c729951a4584958fd3b6b62f67b60019b2d1c77857bf306e7bba469e5cdaaeb6018f35528510bd&projectId=1b0426f9-ed81-4fce-8ac1-70f4025dbd41') format('woff'), url('//fast.fonts.com/d/70a26d03-0393-410a-a98c-e35dc876c3cb.ttf?d44f19a684109620e484157fa790e818d6a0dc7138d0a76dcc0c1fe83ad1d594119e1e62143e61da83837e1de7e89243f46954367d94959b706fa05e7f2fe8087a37bfc8545ac12911aa7fec61e2ca57259eeec06816b904f7094f9696d27183215e31490b5ebc1a102c8153c8fdcd5d4e830fe588aa584af4c729951a4584958fd3b6b62f67b60019b2d1c77857bf306e7bba469e5cdaaeb6018f35528510bd&projectId=1b0426f9-ed81-4fce-8ac1-70f4025dbd41') format('truetype'), url('//fast.fonts.com/d/edb011f7-44ad-4c0d-b81a-c97c3ad6be6f.svg?d44f19a684109620e484157fa790e818d6a0dc7138d0a76dcc0c1fe83ad1d594119e1e62143e61da83837e1de7e89243f46954367d94959b706fa05e7f2fe8087a37bfc8545ac12911aa7fec61e2ca57259eeec06816b904f7094f9696d27183215e31490b5ebc1a102c8153c8fdcd5d4e830fe588aa584af4c729951a4584958fd3b6b62f67b60019b2d1c77857bf306e7bba469e5cdaaeb6018f35528510bd&projectId=1b0426f9-ed81-4fce-8ac1-70f4025dbd41#edb011f7-44ad-4c0d-b81a-c97c3ad6be6f') format('svg');
  font-weight: bold;
}
// scss-lint:enable UrlFormat
