.row {
  @include clearfix();
  margin-left: 0;
  margin-right: 0;
  min-width: 0;
  width: 100%;
}

.row-toolbar {
  margin-bottom: .5rem;
}

.row-section {
  margin-bottom: 1.5rem;
}

.row_header {
  margin-bottom: .5rem;
}

.row-underwriting {
  margin-left: -2rem;
  margin-right: -2rem;
  width: auto;

  @include media($media-small-tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}
