//--------------------------------------------------
// Form fields
//--------------------------------------------------

.fieldGroup {
  position: relative;
}

.field {
  width: 100%;
  margin: 0 0 .750em;
  padding: 3px 5px;
  border: 0;
  border-bottom: 2px solid $color-darker-grey;
  border-radius: 0;
  appearance: none;
  box-shadow: none;
  box-sizing: border-box;
  font-family: inherit;
  transition: all .15s linear;
  background-color: transparent;

  /* IE10+ hide default 'x' in text field */
  &::-ms-clear {
    display: none;
  }

  /* Chrome hide default 'x' in text field */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.field:focus {
  border-color: $color-red;
  outline: none;
}

.field_overlay {
  position: absolute;
  top: 2px;
  left: 0;
  color: $color-med-grey;
  fill: $color-med-grey;

  + .field {
    padding-left: 20px;
  }

  svg {
    height: 20px;
    width: 20px;
  }
}

.field_clear {
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;

  svg {
    height: 12px;
    width: 12px;
  }
}
