//--------------------------------------------------
// Headings
//--------------------------------------------------

.hdg {
  font-family: $font-family-heading;
}

.hdg-1 {
  font-size: 1.5rem;
}

.hdg-2 {
  font-size: 1.25rem;
}

.hdg-center {
  text-align: center;
}
