//--------------------------------------------------
// Horizontal Lists
//--------------------------------------------------

.hList {
  > * {
    display: inline-block;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hList-sm {
  > * {
    margin-right: .5rem;
  }
}

.hList-center {
  text-align: center;
}
