// Labels
.label {
  background: $color-red;
  bottom: 1px;
  color: $color-white;
  display: inline;
  font-size: .813em;
  font-weight: bold;
  line-height: 1;
  padding: .063em .250em .125em;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
