//--------------------------------------------------
// Text Styles
//--------------------------------------------------

.text-sm {
  font-size: .875rem;
}

.text-center {
  text-align: center;
}

.text-pad {
  margin-bottom: 4px;
}
